<EditForm Model="_equipment" OnInvalidSubmit="SubmitForm">
    <FluentValidationValidator />
    <MudCard Style="margin-left: 20px; margin-right: 20px; background-color: lightskyblue" Elevation="100">
        <MudCardHeader Typo="Typo.h1"><h3><b>Add a equipment</b></h3></MudCardHeader>
        <MudCardContent>
            <FormSection Title="Основные сведения об авто" HelpText="Додайте інформацію о марке, моделі, року виготовлення та VIN">
                <MudTextField Label="Марка" HelperText="" Variant="Variant.Outlined"
                @bind-Value="_equipment.BrandName" For="@(() => _equipment.BrandName)" />
                <ValidationMessage For="@(() => _equipment.BrandName)" />
                <MudTextField Label="Модель" Variant="Variant.Outlined"
                @bind-Value="_equipment.ModelName" For="@(() => _equipment.ModelName)" />
                <ValidationMessage For="@(() => _equipment.ModelName)" />
                <MudTextField Label="Ідентифікаційний номер ТЗ" Variant="Variant.Outlined"
                @bind-Value="_equipment.Vin" For="@(() => _equipment.Vin)" />
                <ValidationMessage For="@(() => _equipment.Vin)" />
                <MudTextField Label="Рік випуску" Variant="Variant.Outlined"
                @bind-Value="_equipment.Year" For="@(() => _equipment.Year)" />
                <ValidationMessage For="@(() => _equipment.Year)" />
                <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" OnFilesChanged="LoadEquipImage">
                    <ActivatorContent>
                        <MudFab Color="Color.Info"
                        StartIcon="@Icons.Material.Filled.Image"
                        Label="Load picture" />
                    </ActivatorContent>
                </MudFileUpload>
            </FormSection>
            <FormSection Title="Реєстраційні дані" HelpText="Додайте державний номер">
                <MudTextField Label="Державний номер" HelperText="" Variant="Variant.Outlined"
                @bind-Value="_equipment.Id" For="@(() => _equipment.Id)" />
                <ValidationMessage For="@(() => _equipment.Id)" />
            </FormSection>
            <FormSection Title="Додаткова інформація об авто" HelpText="Додайте інформацію про тип авто, пробіг та об'єм паливного бака">
                <MudTextField Label="Тип" HelperText="" Variant="Variant.Outlined"
                @bind-Value="_equipment.Description" For="@(() => _equipment.Description)" />
                <ValidationMessage For="@(() => _equipment.Description)" />
                <MudTextField Label="Об'єм паливного бака" HelperText="" Variant="Variant.Outlined"
                @bind-Value="_equipment.VolumeFuelTank" For="@(() => _equipment.VolumeFuelTank)" />
                <ValidationMessage For="@(() => _equipment.VolumeFuelTank)" />
                <MudTextField Label="Пробіг" HelperText="" Variant="Variant.Outlined"
                @bind-Value="_equipment.Mileage" For="@(() => _equipment.Mileage)" />
                <ValidationMessage For="@(() => _equipment.Mileage)" />
            </FormSection>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => _equipment = new EquipmentDto())">Reset</MudButton>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Submit</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {
    private EquipmentDto _equipment = new EquipmentDto();
    private IBrowserFile? _equipImage;

    [Parameter]
    public required Func<EquipmentDto, IBrowserFile?, Task> OnSubmit { get; set; }

    public void ResetForm(){
        _equipment = new EquipmentDto();
        _equipImage = null;
    }

    private async Task SubmitForm() => await OnSubmit(_equipment, _equipImage);

    private void LoadEquipImage(InputFileChangeEventArgs e) => _equipImage = e.File;

}
